/* || GENERAL */

.card {
	border-radius: 1em;
	position: relative;
}

.card__top {
	z-index: 1;
	padding: var(--gap-2);
}

.card__bottom {
	z-index: -1;
}

/* || HEAD */

.card__top--head {
	background-color: var(--blue);
	display: grid;
	column-gap: var(--gap-1);
	grid-template-columns: auto 1fr;
}
.card__avatar {
	width: 4em;
	outline: 0.25em solid var(--light-text);
	border-radius: 50%;
	grid-row: span 2;
}

.card__bottom--head {
	background-color: var(--dark-blue);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: var(--gap-1) var(--gap-2);
	padding-top: calc(var(--gap-1) * 2 + 1em);
	margin-top: -2em;
}

/* || LIST */

.card__bottom--list {
}

.card__top--list {
	background-color: var(--dark-blue);
}

/* || TOPIC-SPECIFIC COLORS */

[data-type="work"] {
	background-color: var(--work);
}

[data-type="play"] {
	background-color: var(--play);
}
[data-type="study"] {
	background-color: var(--study);
}
[data-type="exercise"] {
	background-color: var(--exercise);
}
[data-type="social"] {
	background-color: var(--social);
}
[data-type="self-care"] {
	background-color: var(--self-care);
}
