.fs-xl {
	font-size: 2em;
}

.fs-l {
	font-size: 1.5em;
}

.fs-m {
	font-size: 1.25em;
}

.fs-s {
	font-size: 0.9em;
}

.fc-l {
	color: var(--light-text);
}

.fc-d {
	color: var(--pale-blue);
}

.fw-500 {
	font-weight: 500;
}

.fw-700 {
	font-weight: 700;
}

.period-btn,
.menu-btn {
	cursor: pointer;
}

.period-btn:hover,
.menu-btn:hover {
	color: white;
}

@media screen and (min-width: 768px) {
	.fs-xl {
		font-size: 3.5em;
	}

	.fs-l {
		font-size: 2.5em;
	}

	.fs-m {
		font-size: 1em;
	}
}
